.cart {
  position: fixed;;
  right: 2rem;
  bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}